{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "assets/css/home.css" %}">
        <title>PROYAS</title>
</head>

<body>
    <footer>
        <div class="foot-panel1">
                Back to Top
        </div>
        <div class="foot-panel2">
                <ul>
                        <p>Get to Know Us</p>
                        <a>Careers</a>
                        <a>Blog</a>
                        <a>About US</a>
                        
                </ul>
                <ul>
                        <p>Get to Know Us</p>
                        <a>Careers</a>
                        <a>Blog</a>
                        <a>About US</a>
                </ul>
                <ul>
                        <p>Get to Know Us</p>
                        <a>Careers</a>
                        <a>Blog</a>
                        <a>About US</a>
                </ul>
                <ul>
                        <p>Attributes</p>
                        <a href="https://www.flaticon.com/free-icons/development" title="development icons">Development icons created by Design Circle - Flaticon</a>
                        <a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by smashingstocks - Flaticon</a>
                        <a href="https://www.flaticon.com/free-icons/bell" title="bell icons">Bell icons created by Freepik - Flaticon</a>
                        <a href="https://www.flaticon.com/free-icons/admin" title="admin icons">Admin icons created by srip - Flaticon</a>
                </ul>
        </div>
        <div class="foot-panel3">
                <div class="logo"></div>
        </div>
        <div class="foot-panel4">
                <div class="pages">
                       
                </div>
                <div class="copyright">
                        © 1996-2023, Proyas Educare Foundation
                </div>
        </div>
</footer>
    <script src="{% static "assets/js/home.js" %}"></script>
</body>

</html>